@font-face {
	font-family: Helvetica;
}

html, body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #dcb4aa;
	font-size: 12px;
	overflow: hidden;
	height: 100%;
}

a, a:hover {
	text-decoration: none;
	padding: 1px;
	transition: all .08s linear;
	-o-transition: all .08s linear;
	-moz-transition: all .08s linear;
	-webkit-transition: all .08s linear;
}

#game {
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -330px;
	z-index: 1;
}

canvas {
	cursor: crosshair;
	background-color: #cdcbbd;
	border: 0px;
	border-radius: 4px;
	display: none;
}

header {
	margin: 0;
	padding: 0 8px 8px 8px;
	background-color: rgba( 171, 168, 151, 0.5 );
	color: #eee;
	overflow: hidden;
	width: 100%;
	height: 27px;
	z-index: 5;
	position: relative;
	transition: height .22s ease-out;
	-o-transition: height .22s ease-out;
	-moz-transition: height .22s ease-out;
	-webkit-transition: height .22s ease-out;
	display: block;
}

header h1 {
	font-family: Helvetica, Arial, sans-serif;
	float: left;
}

div.ui {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-align: left;
	padding: 8px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 4px;
	float: left;
}

#game-status {
		width: 984px;
		height: 15px;
		padding: 8px;
		display: none;
		position: absolute;
		z-index: 2;
}

#game-status span {
		color: #777;
		font-weight: bold;
		margin-right: 5px;
}

#game-panels {
	width: 1000px;
	position: absolute;
	z-index: 3;
	display: none;
}

#game-panels div.ui h2 {
	margin-bottom: 20px;
	color: #eeeeee;
}

#game-panels div.ui #level-selector {
	margin: 20px 0;
	font-size: 11px;
}

#game-panels div.ui #level-selector ul.levels {
	margin: 10px 0;
	display: inline;
	padding: 4px;
}

#game-panels div.ui #level-selector ul.levels li {
	display: inline;
	margin: 1px;
	padding: 5px;
	background-color: #333;
	cursor: pointer;
	border-radius: 1px;
	color: #fff;
	transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
}

#game-panels div.ui #level-selector ul.levels li.unlocked:hover {
	background: #555;
}

#game-panels div.ui #level-selector ul.levels li.selected {
	cursor: default;
	background: #5098a9;
	padding: 5px 9px;
}

#game-panels div.ui #level-selector ul.levels li.locked {
	opacity: 0.5;
	cursor: default;
	color: #555;
}

#game-panels div.ui a {
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 38px;
	text-decoration: none;
	color: #bbbbbb;
	padding: 2px;
	display: block;
	transition: all .18s linear;
	-o-transition: all .18s linear;
	-moz-transition: all .18s linear;
	-webkit-transition: all .18s linear;
}

#game-panels div.ui a:hover {
	color: #ffffff;
	background-color: #000000;
	transition: all .18s linear;
	-o-transition: all .18s linear;
	-moz-transition: all .18s linear;
	-webkit-transition: all .18s linear;
}

#message {
	padding: 16px;
	margin-top: 10px;
	width: 225px;
}
