@font-face {
	font-family: Helvetica;
}

html, body {
	font-family: Helvetica, Arial, sans-serif;
	background-image: url(../img/bg.jpg);
	background-size: 100%;
	background-color: #016ecd;
	font-size: 12px;
	overflow: hidden;
	height: 100%;
}

header {
	margin: 0;
	padding: 0 8px 8px 8px;
	background-color: #000;
	opacity: 0.4;
	color: #999;
	overflow: hidden;
	width: 100%;
	height: 27px;
	z-index: 5;
	position: relative;
	transition: height .22s ease-out;
	-o-transition: height .22s ease-out;
	-moz-transition: height .22s ease-out;
	-webkit-transition: height .22s ease-out;
}

#game-status {
		 width: 984px;
		 height: 15px;
		 padding: 7px 0;
		 display: none;
		 z-index: 2;
	}

#game-status span {
		color: #777;
		font-weight: bold;
		margin-right: 5px;
}

#game-status span:first-of-type{
		font-size: 15px;
		color: #555;
}

#game {
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -317px;
	z-index: 1;
}

#menu{
	position: absolute;
	z-index: 3;
	left: 6px;
	top: 150px;
	display: block;
	padding: 16px;
	margin-top: 10px;
	width: 225px
}

#level-selector {
	font-size: 11px;
	position: absolute;
	right: 9px;
	margin: 12px 6px;
}

#level-selector ul {
	margin: 10px 0;
	display: inline;
	padding: 4px;
}

#level-selector ul li {
	display: inline;
	margin: 1px;
	padding: 5px;
	background-color: #333;
	cursor: pointer;
	border-radius: 1px;
	color: #fff;
	transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
}

#level-selector ul li.unlocked:hover {
	background: #555;
}

#level-selector ul li.selected {
	cursor: default;
	background: #999;
	padding: 5px 9px;
}

#level-selector ul li.locked {
	opacity: 0.5;
	cursor: default;
	color: #555;
}

#start-button, #reset-button {
	display: block;
	outline: none;
	font-family: Helvetica;
	font-size: 38px;
	text-decoration: none;
	color: #888;
	padding: 2px;
	transition: all .18s linear;
	-o-transition: all .18s linear;
	-moz-transition: all .18s linear;
	-webkit-transition: all .18s linear;
}

#start-button:hover, #reset-button:hover {
	color: #fff;
	transition: all .18s linear;
	-o-transition: all .18s linear;
	-moz-transition: all .18s linear;
	-webkit-transition: all .18s linear;
}

canvas {
	width: 1000px;
	height: 600px;
	cursor: crosshair;
	background-color: rgba(0,0,0,0.7);
	border: 0px;
	border-radius: 4px;
	display: block;
}
